.navbar{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 65px;
    display: flex;
    align-items: center;
    background-color: rgb(54, 252, 9);
}
.nav-logo{
    margin: 4px 0 0 30px;
    width: 60px;
    border-radius: 50%;
}
.nav-title{
    color: red;
    margin-left: 20px;
    font-weight: 800;
    font-style: italic;
    font-size: 1.4rem;
}